@font-face {
    font-family: RegencieLight;
    src: url(../fonts/RegencieLight.ttf) format("truetype");
}

body, html {
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
}


/******************************************************************************
 * Home section
 */
#home {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}

.emeric {
    background: url(../img/emeric_martineau.jpg) no-repeat 0px 0px;
    background-size: cover;
    margin: auto auto auto auto;
}

.roundedImage {
    overflow: hidden;
    border-radius: 128px;
    width: 128px;
    height: 128px;
    display: inline-block;
    border: 5px solid #FFFFFF;
}

#name_and_function {
  text-align: center;
  text-transform: uppercase;
}

#name {
  margin-top: 20px;
  font-weight: bold;
  font-family: RegencieLight, "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#function {
  font-size: 22px;
  letter-spacing: 5px;
  margin-top: 20px;
}

a:hover {
  color: #4E9AF8;
  text-decoration: none;
}

a:active {
  color: #4E9AF8;
}

a {
  color: #4E9AF8;
}

a:visited {
  color: #4E9AF8;
}

.container {
  margin: auto;
}

#about ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin: 40px 0 40px 0;
}

#about li {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-right: 3vw;
    color: #4E9AF8;
}

.speech {
  text-align: center;
  line-height: 24px;
  letter-spacing: 3px;
  font-size: 16px;
}

#resume {
  margin: 40px 0 40px 0;
  padding: 40px 0 40px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#resume a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#resume a:active {
  color: #FFFFFF;
}

#resume a {
  color: #FFFFFF;
}

#resume a:visited {
  color: #FFFFFF;
}

.border-white-with-space-40 {
  border-color: #FFFFFF;
  padding: 40px 40px 40px 40px;
  text-align: center;
}

.rounded {
  border-radius: 5px;
  border-style: dashed;
  border-width: 1px;
}

.item-icon {
  height: 64px;
  width: 64px;
  fill: #FFFFFF;
}

.item {
  text-align: left;
  list-style: none;
  padding: 0;
}

.item li {
  margin-bottom: 10px;
}

.li-icon {
  vertical-align: middle;
  height: 24px;
  width: 24px;
  fill: #FFFFFF;
  margin-right: 10px;
}

#cv {
  margin: 40px 0 40px 0;
}

#cv .date {
  font-weight: bold;
  margin: 0 0 10px 0;
  font-family: RegencieLight, "Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 2px;
}

#cv .title {
  font-weight: bold;
  font-size: 20px;
  margin: 0 0 8px 0;
  color: #4E9AF8;
}

.border-black-with-space-20 {
  margin: 0 0 40px 0;
  padding: 20px;
}

#credit {
  text-align: center;
  background-position-y: -150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 0 40px 0;
}

#credit a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

#credit a:active {
  color: #FFFFFF;
}

#credit a {
  color: #FFFFFF;
}

#credit a:visited {
  color: #FFFFFF;
}


@media (max-width: 468px) {
  /* Phone */
  #name {
    font-size: 40px;
    letter-spacing: 5px;
  }

  #home {
    background-image: url(../img/snow-468.jpg);
    height: 300px;
  }

  #resume {
    background-image: url(../img/snow-468.jpg);
  }

  #credit {
    background-image: url(../img/snow-468.jpg);
  }

  .container {
    max-width: 80%;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  /* Vertical pad */
  #name {
    font-size: 60px;
    letter-spacing: 5px;
  }

  #home {
    background-image: url(../img/snow-767.jpg);
    height: 300px;
  }

  #resume {
    background-image: url(../img/snow-767.jpg);
  }

  #credit {
    background-image: url(../img/snow-767.jpg);
  }

  .container {
    max-width: 80%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Horizontal pad */
  #name {
    font-size: 60px;
    letter-spacing: 10px;
  }

  #home {
    background-image: url(../img/snow-991.jpg);
    height: 300px;
  }

  #resume {
    background-image: url(../img/snow-991.jpg);
  }

  #credit {
    background-image: url(../img/snow-991.jpg);
  }

  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  /* Laptop */
  #name {
    font-size: 60px;
    letter-spacing: 10px;
  }

  #home {
    background-image: url(../img/snow-1920.jpg);
    height: 300px;
  }

  #resume {
    background-image: url(../img/snow-1920.jpg);
  }

  #credit {
    background-image: url(../img/snow-1920.jpg);
  }

  .container {
    max-width: 960px;
  }
}
